# requirements.txt

# Selenium
selenium==3.141.0

# WebDriver for Chrome
chromedriver-autoinstaller==0.2.2

# pandas for Excel handling
pandas==1.3.3

# openpyxl for Excel file support
openpyxl==3.0.17
